@model Product

<div class="card">
    <h5 class="card-header">جزئیات @Model.Title</h5>
    <div class="card-body">
        <form asp-controller="ProductManagement" asp-action="Edit" method="post">

            <label for="Id" class="form-label">شناسه کالا</label>
            <input class="form-control" asp-for="Id" readonly />
            <br />

            <label for="Title" class="form-label">عنوان</label>
            <input class="form-control" asp-for="Title" />
            <br />

            <label class="form-label" asp-for="Price"></label>
            <input class="form-control" asp-for="Price" />
            <br />

            <label for="ProductCount" class="form-label">موجودی در انبار</label>
            <input class="form-control" asp-for="Qty" />
            <br />

            <input type="submit" class="btn btn-success float-left">ذخیره</input>

            <a class="btn btn-light float-left"
               asp-controller="ProductManagement" asp-action="Index">بازگشت به لیست</a>
        </form>
    </div>
</div>
