@model Product

<div class="card">
    <h5 class="card-header">جزئیات @Model.Title</h5>
    <div class="card-body">

        <label for="Id" class="form-label">شناسه کالا</label>
        <input class="form-control" asp-for="Id" readonly/>
        <br/>

        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price"/>
        <br/>

        <label for="ProductCount" class="form-label">موجودی در انبار</label>
        <input class="form-control" asp-for="Qty"/>
        <br/>

        <a class="btn btn-light"
           asp-controller="ProductManagement" asp-action="Index">بازگشت به لیست</a>
    </div>
</div>
